
nav {
  display: flex;
  justify-content: space-between; 
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 40px;
  position: fixed;
  z-index: 9999;
  
} 

nav > span {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
}

nav > div {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  align-items: center;
} 

