
nav {
  display: flex;
  justify-content: space-between; 
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 40px;
  position: fixed;
  top: 0;
  z-index: 9999;
} 

nav > span {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  font-family: "Bungee", cursive;
}

nav > div {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  align-items: center;
  justify-content: center;
} 

#arrow-down {
  color: red;
}

/* mobile screens */

@media only screen and (max-width: 1023px) {
  nav {
    font-size: 24px;
    background-color: rgb(216, 166, 29);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    position: relative;
    height: 100px;
  }
  
}

