.tweet-container {
  padding-bottom: 3em;
}
.tweet:hover {
  box-shadow: 8px 8px lightblue;
}

article {
  border-style: solid;
  margin-top: 2em;
  padding: 1em;
  padding-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid;
  
}

.footer div {
  font-size: 18px;
  color: blue;
}

article.tweet header div{
  display: flex;
  align-items: center;
}
.footer p {
  display: flex;
  align-self: flex-end;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 50px;
  width: 50px;
  margin-right: 0.5em;
}

.handle {
  opacity: 0.5;
}

i.fa-solid:hover {
  color: goldenrod

}
/* */
.tweet-container {
  font-size: 18px;
}
